/*Style Body by adding backgroud video  to cover and set background to fixed so scrollspy can work, and add a nice font family to the whole page*/

/*Video
--Set the video as background make it vixed
--make it spread across the whole webpage


*/

/*Video doesn't work in phones*/

/*Style navbar with css generator*/


/*Style the button*/

/*Style the about, make sure the link is active when you highlight and it links and it hits the top border of the div*/

/*style caroseul, confide the width and fix the height of the pictures Move the captions and set the font*/

#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
    
}
body{
    font-family: sans-serif;
}












