/*Style Body by adding backgroud video  to cover and set background to fixed so scrollspy can work, and add a nice font family to the whole page*/

/*Video
--Set the video as background make it vixed
--make it spread across the whole webpage


*/

/*Video doesn't work in phones*/

/*Style navbar with css generator*/


/*Style the button*/

/*Style the about, make sure the link is active when you highlight and it links and it hits the top border of the div*/

/*style caroseul, confide the width and fix the height of the pictures Move the captions and set the font*/

#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
    
}
body{
    font-family: sans-serif;
}

/*NavBar Styling*/
.navbar-inverse { background-color: #08082B}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #10A170}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #F2FFFD}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #F2FFFD}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


#btn-lg {
    width: 75px;
    height: 30px;
   background-color: aliceblue; 
}

.jumbotron {
    padding-top: 200px;
    background: rgba(255, 255, 255, 0);
    color: white;
    margin-bottom: 400px;
    
}
.jumbotron div{
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    margin-left: 100px;
}

.icons {
    width: 500px;
    align-self: center;
    margin-left: 300px;
    margin-right: 150px;
    margin-bottom: 600px;
}
.icons img{
    width: 200px;
    background: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 3px silver;
}
.icons h2,p{
    color: white;
}

.container-fluid {

}
