/*Style Body by adding backgroud video  to cover and set background to fixed so scrollspy can work, and add a nice font family to the whole page*/

/*Video
--Set the video as background make it vixed
--make it spread across the whole webpage


*/

/*Video doesn't work in phones*/

/*Style navbar with css generator*/


/*Style the button*/

/*Style the about, make sure the link is active when you highlight and it links and it hits the top border of the div*/

/*style caroseul, confide the width and fix the height of the pictures Move the captions and set the font*/

video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
    
}
body{
    font-family: sans-serif;
    position: relative;
}
@media (max-device-width:768px){
    body{
        background: url(images/nicolas-flor-LFzv5R9GbgQ-unsplash.jpg) center center fixed;
        background-size: cover;
    }
    #bgvideo{
        display: none;   
    }
}
/*NavBar Styling*/
.navbar-inverse { background-color: #08082B}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #10A170}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #F2FFFD}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #F2FFFD}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


#btn-lg {
    width: 75px;
    height: 30px;
   background-color: aliceblue; 
}

/*Header Styling*/
.jumbotron {
    padding-top: 100px;
    background: rgba(255, 255, 255, 0);
    color: mintcream;
    margin: 0px 100px 0px 0px;
    
}
.jumbotron p{
    padding-top: 10px;
    background: rgba(255, 255, 255, 0);
    color: lightgoldenrodyellow;
    font-size: 30px
    
}
.jumbotron div{
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    margin-left: 100px;
}

.icons {
    margin: 0px 0px 0px 50px;
    align-self: center;

}
.icons img{
    width: 200px;
    background: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 3px silver;
}
.icons h2,p{
    color: white;
}
.icons p{
    font-size: 20px;
    text-shadow: 1px 1px #ff0000;
}
.btn-custom {background: rgba(222, 42, 54, 0.72); border-color: rgba(255, 254, 245, 0.97); color: rgba(255, 255, 255, 1); font-size: 32px; border-radius: 4px; border-width: 1px;}
.btn-custom:hover {background: rgba(237, 221, 156, 1); border-color: rgba(173, 173, 173, 1); color: rgba(51, 51, 51, 1);}
.btn-custom:active, .btn-custom:focus {background: rgba(235, 235, 235, 1); border-color: rgba(173, 173, 173, 1); color: rgba(51, 51, 51, 1);}

.container-fluid {

}

#promise{
    padding-top: 100px;   
}
#myCarousel{
    width: 60%;
    margin: 0 auto;
}
.carousel-inner .item img{
    height: 400px; 
    margin: 0 auto;
}

.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}
